ul{
	list-style: none;
	padding:0;
	margin-top:100px;
}
#main-menu{
	background: green;
    display: inline-block;
    position: fixed;
    z-index: 2;
    height: 100vh;
    transition:0.2s;
    padding: 25px;
    width: 235px;
    transform:translateX(-100%);

}
#main-menu.open{
	top:0;
	transform:translateX(0);
}
#main-menu.open .blanket{
  width:100vw;
  height:100vh;
  background: transparent;
  position: fixed;
  top:0;
  left:235px;
}