.carousel-slide{
	height: 100vh;
	width:100vw;
	background-size:cover;
	position:relative;
	text-align: center;
}

.carousel-slide-image{
	width:auto;
	max-height:60vh;
}
.logo{
	padding: 10px 15px;
    top: 24px;
    left: 24px;
	position: absolute;
}

.carousel-slide h1{
	text-align: center;
}
.carousel-slide .description{
	text-align: center;
}