nav{
	position: fixed;

	width:100%;
	top:0;
	left:0;
}

.nav-bookstore{
	right:5px;
	width: auto;
	display: inline-block;
	float:right;
	transform:rotate(-45deg) translateY(25px) translateX(-45px);
	
}