.logo{
	padding: 10px 15px;
    top: 24px;
    left: 24px;
	position: absolute;
	z-index:9;
	width:180px;
	height: 87px;
	background: black;
	color:white;
	line-height:1.5;
	cursor: pointer;
	transition:0.1s;
	background-size:cover;
}
.logo:hover{
	filter:invert(1);
}

.Homepage nav .logo{
	display:none;
}

@media(max-width: 768px){
	.logo{
		width:86px;
		height:35px;
		padding:0 3px;
		top:5px;
		left:5px;
	}
}