.list-item{
	border-bottom:1px solid black;
	padding:8px 0;
}
.list-item:last-child{
	border-bottom:none;
}
.list-item-menu *{
	font-weight: bold;
}
.list-item-menu{
	padding:8px 0 0;

}
.view-space{
	margin:0 25px;
}

@media(max-width: 768px){
	.view-space{
	margin:0;
	padding:0px;
	}
	.list-item-menu{
		display: none;
	}
	.list-item .people{
		display: none;
	}
	.grid-view{
		padding:0 5px;
	}
}