.list-item{
	border-bottom:1px solid black;
	padding:8px 0;
	display: none;
}
.list-item:last-child{
	border-bottom:none;
}
.list-item-menu *{
	font-weight: bold;
}
.list-item-menu{
	padding:8px 0 0;

}
.list-item.on{
	display:flex;
}
.list-item-menu.list-item{
	display: flex;
}
.btn,.btn:hover, .btn:focus, .btn:active, .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle{
	font-size:inherit;
	color: black;
    border-radius: 0;
    border: none;
    line-height: 1;
    padding: 0;
    background: transparent;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus{
	box-shadow:none;
}
.dropdown-item:hover{
	color:white;
	background: black;
}
.dropdown-item{
	padding: 0.2rem 1rem;
}
.dropdown-menu{
	padding:0;
}
button[aria-expanded="true"]{
	background: black !important;
	color:white !important;
	width:10rem;
	padding:4px 0 !important;
	margin-bottom:-2px !important;
}
.dropdown-item{
	border-bottom:1px solid black;
}
.dropdown-item:last-child{
	border:none;
}
.dropdown-menu.show {
    border-radius: 0;
    font-size: inherit;
    border: 1px solid black;
}
.view-space{
	margin:0 25px;
}
.list-item .selectpicker{
	margin-left:10px;
	border:1px solid black;
}

@media(max-width: 768px){
	.view-space{
	margin:0;
	padding:0px;
	}
	.list-item-menu{
		display: none;
	}
	.list-item .people{
		display: none;
	}
	.grid-view{
		padding:0 5px;
	}
}