.App {
   font-family:'BrownPro', sans-serif;
   font-size:24px;
}
ul{
  list-style: none;
  padding:0;
}
.baskerville{
  font-family:'JBaskerville', serif;
}
/* Global Font Sizes */
.text-tiny{
  font-size: 18px;
  font-weight: bold;
}

.text-small{
  font-size: 24px;
}

.text-medium{
  font-size: 45px;
}
.text-large{
  font-size: 72px;
  line-height:1.2;
}

.oops-message{
  text-align: center;
  width:100%;
  max-width: 1050px;
  margin:200px auto 0;
}
@media(max-width: 768px){
  .text-small{
    font-size: 18px;
  }
  .text-medium{
    font-size: 24px;
  }
  .text-large{
    font-size: 45px;
  }

}
/* Links and buttons */
a{
  color:inherit;
  text-decoration: none;
}
.link{
  text-decoration: underline;
}
a:hover{
  color:inherit;
}
button:hover{
  color:white;
  background: black;
}
button{
  width:195px;
  outline:none;
  transition: 0.1s;
  padding:0 10px;
  background:transparent;
  border:1px solid black;
}
input:focus{
  outline:none;
}
button.on:hover{
  color:black;
  background: white;
}
button.on{
  outline:none;
  transition: 0.1s;
  padding:0 25px;
  background:black;
  color:white;
  border:1px solid black;
}