.App {
   font-family:'BrownPro', sans-serif;
   font-size:24px;
}

/* Global Font Sizes */

.text-small{
  font-size: 24px;
}
.text-medium{
  font-size: 45px;
}
.text-large{
  font-size: 75px;
}

@media(max-width: 768px){
  .text-small{
    font-size: 18px;
  }
  .text-medium{
    font-size: 24px;
  }
  .text-large{
    font-size: 45px;
  }

}