@font-face {
  font-family: 'JBaskerville';
  src: local('JBaskerville'), url(./fonts/JBaskerville/JBaskervilleText.otf) format('opentype');
}
@font-face {
  font-family: 'BrownPro';
  src: local('BrownPro'), url(./fonts/BrownPro/BrownPro_Bold.otf) format('opentype');
}
a{
  border-color:inherit !important;
}
p a:hover{
  filter:invert(1)!important;
  mix-blend-mode: difference;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

