.flickity-prev-next-button{
	background: none !important;
}
.flickity-prev-next-button:focus{
	outline:none;
}
.flickity-prev-next-button{
	width:400px;
	height:400px;
}
.flickity-button-icon path{
 stroke:black;
 fill:none;
 stroke-width:3px;
 stroke-linecap:round;
}

/*.flickity-prev-next-button.previous::before{
	content:'Previous';
	margin-top:-25px;
	height: 65px;
	display: block;
}
.flickity-prev-next-button.next::before{
	content:'Next';
	margin-top:-25px;
	display: block;
	height: 65px;
}*/